.form1 {
    width: 500px;
    height: 350px;
    background-color: antiquewhite;
    padding: 20px;
    /* text-align: center; */
    justify-content: center;
    display: flex; /* Set display to flex */
    flex-direction: column; /* Set flex direction to column */
    /* align-items: center; Align items in the center horizontally */
    border-radius: 10px;
  }
  
.input1{
    width: 300px;
    margin-top: 10px ;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;

}

.textarea1{
    width: 300px;
    margin-top: 10px ;
    border-radius: 5px;
    margin-bottom: 0px;
    height: 200px;
}
.input2{
    width: 300px;
    /* margin-left: 10px ; */
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}
.submitbutton{
    width: 100px;
    background-color: cadetblue;
    border-radius: 5px;
}