.cartdiv{
   padding: 0px;
    /* border-radius: 20px; */
    background-color: #e8e2e2;
    /* /* min-width: 100px; */
     /* max-width: 400px;  */
     height: 500px;
    

   
}
@media (max-width: 600px) {
  .cartdiv {
    max-width: 300px;
    max-height: 400px; /* Set smaller max-width for smaller screens */
  }
}

.img1{
  width: 200px;
}

@media (max-width: 600px) {
  .img1 {
    
    max-width: 150px;
    /* Set smaller max-width for smaller screens */
  }
}

.cartdiv h2{
  margin-bottom: 10px;
}

.cart {
   padding: 20px; /* Set the maximum height for the cart */
    overflow-y: auto; /* Enable vertical scrolling */
  }
/*   
  .addtocartbutton{
    font-size: 15px;
    background-color: #D2B4DE;
    border-radius: 5px;
    border-color: #D2B4DE;
  } */
  /* CartModule.css */
.CartItem {
  
    border: 1px solid #939191;
    margin-bottom: 10px;
    padding: 10px;
    display: grid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .datadiv{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #e8e2e2;
  }
  .closecart{
    padding: 0px;
    /* background-color: #D2B4DE; */
    border-radius: 5px;


  }

  .close{
    padding: 8px;
    border:1px solid #49384f;
    background-color: #fffc30;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 5px 5px black;
    transition: transform 0.5s;
  }

  .close:active {
    transform: translateY(5px); /* Move the button down slightly when clicked */
}