body {
    margin: 0;
    padding: 0;
}

.headerdiv {
    
    width: 100%;    
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content:space-around;
    /* text-align: center;
    align-items: center; */
    top: 0;
    z-index: 100;
    position: sticky;
    border-bottom:1px solid rgb(209, 208, 208);

    


    
}
.cart_button{
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f6f6;
    height: fit-content;
    justify-content: center;
   
    box-shadow: 0 10px 10px  rgba(0,0,0,0.2);
}

.Vitadev{
  width: 45%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.outerheader {
    padding-bottom: 10px;
    display: flex;
    /* padding: 20px; */
    background-color: #ffffff;
    /* width: 50%; */
    align-items: left;
    justify-content: left;

    
}
.outerheader h1{
  padding-left: 10px;
  padding-right: 10px;
  /* color: #fffc30; */
  /* display: flex;
  justify-content: center;
  align-items: center; */

}


@media only screen and (max-width: 768px) {
  .outerheader{
     width: 20%;
      
  }
  
}

.labels {
    font-size: medium;
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
    color: inherit;
    /* Ensures that the link color matches the default text color */
    position: sticky;
    top: 0;
    z-index: 100;   
}

.cartbutton {
    width: 100px;
    height: 35px;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #fffc30;
    border:1px solid #000000;
    box-shadow: 5px 5px black;
    margin-left: auto;
    transition: transform 0.5s;
}

.cartbutton:active {
  transform: translateY(5px); /* Move the button down slightly when clicked */
}
/* 
.headerdiv2 {
    width: 100%;
    height: 100px;
    background-color: #ABC49F;
    justify-content: center;
    display: flex;
    padding-top: 0px;
    border-top: solid 0px black;
    font-size: 20px;
} */

.cart {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 999;
    border-radius: 20px;
    width: 600px;
    height: 300px;
}

.cart.open {
    display: block;
}

.itemh2 {
    margin-right: 0px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 0px;
    height: 0px;
    background-color: rgba(231, 218, 218, 0.996);
}

.logoutbutton {
    
    border-radius: 7px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    height: 35px;
    margin-top: 10px;
    background-color: #fffc30;
    border:1px solid #000000;
    box-shadow: 5px 5px black;
    transition: transform 0.5s;
}

.logoutbutton:active {
  transform: translateY(5px); /* Move the button down slightly when clicked */
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .labels {
        font-size: smaller;
        margin-left: 20px;
    }
    
}
/* Header_ElementModule.css */
/* 
.dropdown {
    max-width: max-content;
    display: inline-block;
    display: flex;
   

  }
  
  .dropbtn {
    background-color: transparent;
    color: black;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  .dropdown-content {
    display: grid;
    position:absolute;
    align-items: start;
    background-color:#ABC49F;
    width: fit-content;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 30px;
    margin-top: 50px;
    
    
  }
  
  .dropdown-content a {
    color: black;
    display: block;
    justify-content:end;
    align-items: start;
    text-align: left;
    

  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media only screen and (max-width: 768px) {
    .dropdown {
        font-size: smaller;
        margin-left: 20px;
    }
    
}

.logoimage{
    max-width: 50px;
    max-height: 80px;
    min-width: 30px;
    padding-left: 20px;
} */

.logoimage{
    max-width: 50px;
    max-height: 60px;
    min-width: 30px;
    padding-left: 20px;
    margin-right: 20px;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    /* background: #0082e6; */
    height: 40px;
    width: 100%;
    margin-top: 10px;
      }
 
      nav ul {
        float: left;
        margin-right: 0px;
        overflow-y: auto; /* Add scrollbar when content exceeds height */
      }
      
  nav ul li{
    display: inline;
    line-height: 20px;
    

  }
  nav ul li a{
    color: black;
    font-size: 10px;
    padding: 1px 1px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    /* background: #1b9bff; */
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: #757324;
    float: right;
    line-height: 5px;
    margin-right: 0px;
    cursor: pointer;
    display: none;
        
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 0px;
    }
    nav ul li a{
      font-size: 20px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #f8f3f3;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      margin-top: 20px;
    }
    nav ul li{
      display: block;
      margin: 20px 0;
      line-height: 30px;
      
    }
    nav ul li a{
      font-size: 25px;
      color: black;

    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  