.ordersdiv1{
    margin: 30px;
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 10px;
    background-color: #bab9b9;
    
}

.ordersdiv2{
    
    max-width: fit-content;
    padding: 10px;
    background-color: #fafafa;
    margin: 10px;
    border-radius:5px ;
    border: 1px solid #e5e5e5;
}