.LogInForm{
    background-color: #D2B4DE;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    justify-content: center;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

.LogIndiv{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.LoginInput{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px ;
    width: 250px;
}

.Loginbutton{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px ;
    width: 100px;
}