.signinForm{
    background-color: #e8e2e2;
    display: grid;
    border-radius: 20px;
    justify-content: center;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border: 1px solid #ece9e9;
    box-shadow: 15px 15px 20px black;
    margin: 50px;
}

.signindiv{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.signinput{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px ;
    
}

.siginbutton{
    background-color:#fffc30 ;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px ;
    width: 100px;
    transition: transform 0.5s;
    box-shadow: 5px 5px black;
}

.Loginbutton:active {
  transform: translateY(5px); /* Move the button down slightly when clicked */
}