.signinForm{
    background-color: #D2B4DE;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    justify-content: center;
    text-align: left;
    padding: 50px;

}

.signindiv{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.signinput{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px ;
    width: 250px;
}

.siginbutton{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px ;
    width: 100px;
}