.CardDiv0 {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center; 
    justify-content: center;
    text-decoration: none;
      /* Allow cards to wrap to the next line if there isn't enough space */
  }
  .titleproduct{
    font-size: medium;
    height: 20px;
    text-align: center; 
    justify-content: center;
    align-items: center;
    font-weight: lighter;
  }
  .Carddiv {
    flex: 0 0 calc(20% - 0px); /* Set the width of each card to 50%, minus the margin */
    height: 400px;
    max-width: 300px;
    min-width: 300px;
    border-radius: 3px;
    background-color: #fafafa;
    margin: 3px;
    border: 1px solid #e5e5e5;
    padding: 0px;
    font-display:inherit;
    font-size: small; 
    text-decoration: none;
    
      /* Updated margin to create spacing between cards */
  }
  .Linkstyle{
    color: black;
  }
  .Carddiv img {
    max-width: 100%;
    min-width: 99%;
    max-height: 80%; 
    min-height: 50%;  
    border-radius: 3px;
    object-fit: cover;
     /* Make sure the image fills the entire width of the card */
  }
  .innerdiv{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
  }
  
  .Carddiv h2,
  .Carddiv p {
    margin: 10px; /* Add some spacing between text elements and edges of the card */
  }
  
  .addtocardbutton{
    font-size: small;
    background-color: #fffc30;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #000000;
    box-shadow: 5px 5px black;
    transition: transform 0.5s;
  }

  .addtocardbutton:active {
    transform: translateY(5px); /* Move the button down slightly when clicked */
}